name: CI Dockerfile
on:
  pull_request:
    paths:
      - .github/workflows/ci-dockerfile.yml
      - Dockerfile
run-name: CI Dockerfile by @${{ github.actor }} ${{ github.sha }}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: hadolint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          failure-threshold: style
          recursive: true
