name: CI Go
on:
  pull_request:
    paths:
      - .github/workflows/ci-go.yml
      - '**.go'
      - go.*
      - Makefile
run-name: CI Go by @${{ github.actor }} ${{ github.sha }}
jobs:
  build-test:
    runs-on: ubuntu-latest
    container: golang:1.22.0
    steps:
      - name: setup
        run: git config --global --add safe.directory $(pwd)
      - uses: actions/checkout@v4
      - name: build
        run: make build
      - name: tidy
        run: |
          go mod tidy
          git diff --exit-code
      - name: test
        run: make unit
  lint:
    runs-on: ubuntu-latest
    container: golangci/golangci-lint:v1.56.1
    steps:
      - name: setup
        run: git config --global --add safe.directory $(pwd)
      - uses: actions/checkout@v4
      - name: lint
        run: golangci-lint run ./...
