name: OSSF Scorecard

on:
  branch_protection_rule:
  schedule:
    - cron: '00 12 * * 0'
  push:
    branches: [ "main" ]

permissions: read-all

run-name: OSSF Scorecard by @${{ github.actor }} ${{ github.sha }}
jobs:
  analysis:
    name: Scorecard analysis
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      id-token: write

    steps:
      - name: "Checkout code"
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: "Run analysis"
        uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a # v2.4.3
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true
